<div class="paciente-container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Mostrar</h4>

                <a href="#addRowModal" class="btn btn-primary btn-round ml-auto" data-toggle="modal" (click)="limpiarFormulario()">Nuevo</a>
                <!-- Agregar Nuevos Registros -->
                <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="justify-content: center;">
                                <h4 class="modal-title" id="myModalLabel">Nuevo Registro</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <mat-error *ngIf="mensajeError" class="error-message">{{ mensajeError }}</mat-error>
                                    <div *ngIf="mensajeExito" class="success-message">{{ mensajeExito }}</div>
                                    <div class="card-body">

                                        <form [formGroup]="altaPersonalForm" (ngSubmit)="alta_Personal()">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Matricula</label>
                                                        <input formControlName="matricula" required="" type="text"
                                                            class="form-control" maxlength="8"
                                                            placeholder="Ingrese matrícula"
                                                            onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pr-0">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Nombre</label>
                                                        <input formControlName="nombre" required="" type="text"
                                                            class="form-control" placeholder="Ingrese nombre">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Apellido
                                                            Paterno</label>
                                                        <input formControlName="apellidoPat" required="" type="text"
                                                            class="form-control" placeholder="Ingrese apellido">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Apellido Materno</label>
                                                        <input formControlName="apellidoMat" required="" type="text"
                                                            class="form-control" placeholder="Ingrese apellido">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Rol</label>
                                                        <select class="form-control" id="selectRol"
                                                            formControlName="rol">
                                                            <option value="0">Seleccione el rol</option>
                                                            <option value="1">Médico General</option>
                                                            <option value="2">Asistente Médico</option>
                                                            <option value="3">Médico Tratante</option>
                                                            <option value="4">Director</option>
                                                            <option value="5">Coordinador Clínico</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Sexo</label>
                                                        <select class="form-control" formControlName="sexo">
                                                            <option value="0">Seleccione una opción</option>
                                                            <option value="1">Masculino</option>
                                                            <option value="2">Femenino</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Teléfono</label>
                                                        <input formControlName="telefono" required="" type="text"
                                                            class="form-control" maxlength="10"
                                                            placeholder="Ingrese teléfono"
                                                            onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Correo</label>
                                                        <input formControlName="correo" required="" type="text"
                                                            class="form-control" placeholder="Ingrese correo">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i
                                                                class="fa-solid fa-asterisk red"></i>contraseña</label>
                                                        <div class="input-container">
                                                            <input [type]="hide ? 'password' : 'text'"
                                                                formControlName="password" required=""
                                                                class="form-control" maxlength="21"
                                                                placeholder="Contraseña">
                                                            <i class="{{hide ? 'fa-solid fa-eye-slash' :
                                                                'fa-solid fa-eye'}}" (click)="hide = !hide"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                                        class="glyphicon glyphicon-remove">Cancelar</span>
                                                </button>

                                                <button type="submit" name="agregar" class="btn btn-primary">
                                                    <span class="glyphicon glyphicon-floppy-disk">
                                                        Guardar Registro
                                                    </span>
                                                </button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="LabelModalEditar"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">s
                            <div class="modal-header" style="justify-content: center;">
                                <h4 class="modal-title" id="LabelModalEditar">Actualizar Registro</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <mat-error *ngIf="mensajeError" class="error-message">{{ mensajeError }}</mat-error>
                                    <div *ngIf="mensajeExito" class="success-message">{{ mensajeExito }}</div>
                                    <div class="card-body">

                                        <form [formGroup]="altaPersonalForm" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Matricula</label>
                                                        <input formControlName="matricula" required="" type="text"
                                                            class="form-control" maxlength="8"
                                                            placeholder="Ingrese matrícula"
                                                            onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pr-0">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Nombre</label>
                                                        <input formControlName="nombre" required="" type="text"
                                                            class="form-control" placeholder="Ingrese nombre">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Apellido
                                                            Paterno</label>
                                                        <input formControlName="apellidoPat" required="" type="text"
                                                            class="form-control" placeholder="Ingrese apellido">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Apellido Materno</label>
                                                        <input formControlName="apellidoMat" required="" type="text"
                                                            class="form-control" placeholder="Ingrese apellido">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Rol</label>
                                                        <select class="form-control" id="selectRol"
                                                            formControlName="rol">
                                                            <option value="0">Seleccione el rol</option>
                                                            <option value="1">Médico General</option>
                                                            <option value="2">Asistente Médico</option>
                                                            <option value="3">Médico Tratante</option>
                                                            <option value="4">Director</option>
                                                            <option value="5">Coordinador Clínico</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Sexo</label>
                                                        <select class="form-control" formControlName="sexo">
                                                            <option value="0">Seleccione una opción</option>
                                                            <option value="1">Masculino</option>
                                                            <option value="2">Femenino</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Teléfono</label>
                                                        <input formControlName="telefono" required="" type="text"
                                                            class="form-control" maxlength="10"
                                                            placeholder="Ingrese teléfono"
                                                            onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i class="fa-solid fa-asterisk red"></i>Correo</label>
                                                        <input formControlName="correo" required="" type="text"
                                                            class="form-control" placeholder="Ingrese correo">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label><i
                                                                class="fa-solid fa-asterisk red"></i>contraseña</label>
                                                        <div class="input-container">
                                                            <input [type]="hide ? 'password' : 'text'"
                                                                formControlName="password" required=""
                                                                class="form-control" maxlength="21"
                                                                placeholder="Contraseña">
                                                            <i class="{{hide ? 'fa-solid fa-eye-slash' :
                                                                'fa-solid fa-eye'}}" (click)="hide = !hide"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6" *ngIf="estadoShow === true">
                                                    <div class="form-group form-group-default">
                                                        <label>Estado</label>
                                                        <select class="form-control" formControlName="estado">
                                                            <option value="0">Seleccione una opción</option>
                                                            <option value="1">Alta</option>
                                                            <option value="2">Baja</option>
                                                            <option hidden value="3">Modificacion</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    <span class="glyphicon glyphicon-remove">Cancelar</span>
                                                </button>

                                                <button type="submit" (click)="actualizarRegistro()"
                                                    class="btn btn-primary">
                                                    <span class="glyphicon glyphicon-floppy-disk">
                                                        Guardar Registro
                                                    </span>
                                                </button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -->
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="add-row_length"><label>Show <select name="add-row_length"
                                    aria-controls="add-row" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries</label></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="add-row_filter" class="dataTables_filter"><label>Search:<input type="search"
                                    class="form-control form-control-sm" placeholder="" aria-controls="add-row"></label>
                        </div>
                    </div>
                </div>
                <table mat-table [dataSource]="personalList" matSort
                    class="table table-light table-hover table-responsive" role="grid" aria-describedby="add-row_info">
                    <!-- Matricula Column -->
                    <ng-container matColumnDef="matricula" class="even">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sorting"> Matrícula </th>
                        <td mat-cell *matCellDef="let element" class="even"> {{element.MATRICULA}} </td>
                        <td mat-footer-cell *matFooterCellDef class="even"> Matrícula </td>
                    </ng-container>

                    <!-- Doctor Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
                        <td mat-cell *matCellDef="let element"> {{element.NOMBRE}} {{element.APELLIDO_PATERNO}}
                            {{element.APELLIDO_MATERNO}} </td>
                        <td mat-footer-cell *matFooterCellDef> Doctor </td>
                    </ng-container>

                    <!-- Rol Column -->
                    <ng-container matColumnDef="rol">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                        <td mat-cell *matCellDef="let element"> {{getRolDescripcion(element.ID_ROL)}} </td>
                        <td mat-footer-cell *matFooterCellDef> Rol </td>
                    </ng-container>

                    <!-- Estado Column -->
                    <ng-container matColumnDef="cveEstado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element">
                            {{ getEstadoDescripcion(element.CVE_ESTADO) }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> Estado </td>
                    </ng-container>

                    <!-- Fecha Column -->
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha registro</th>
                        <td mat-cell *matCellDef="let element"> {{element.FECHA_REGISTRO | date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> Fecha </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaexpira">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha expira</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.FECHA_CADPASSWORD | date: 'yyyy-MM-dd HH:mm:ss' }}

                            <!-- Si faltan 5 días o menos, mostrar "Expira en x días" -->
                            <p
                                *ngIf="getDiasParaExpirar(element.FECHA_CADPASSWORD) > 0 && getDiasParaExpirar(element.FECHA_CADPASSWORD) <= 5">
                                Expira en {{ getDiasParaExpirar(element.FECHA_CADPASSWORD) }} días
                            </p>

                            <!-- Si ya ha expirado, mostrar "Expirado" en rojo -->
                            <p *ngIf="getDiasParaExpirar(element.FECHA_CADPASSWORD) <= 0" class="red">
                                Expirado
                            </p>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> Fecha </td>
                    </ng-container>


                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="form-button-action">

                                <button href="#modalEditar" title="Editar" class="btn btn-link btn-primary btn-lg"
                                    data-toggle="modal" (click)="cargarDatos(element)">
                                    <i class="fa fa-edit"></i>
                                </button>

                                <button href="#deleteRowModal" class="btn btn-link btn-danger btn-lg"
                                    data-toggle="modal" title="Eliminar" data-original-title="Delete Task"
                                    (click)="cargarDatos(element)">
                                    <i class="fa fa-times"></i>
                                </button>

                                <div class="modal fade" id="deleteRowModal" tabindex="-1" role="dialog"
                                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="deleteModalLabel">Confirmar
                                                    eliminación
                                                </h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-center">¿Está seguro de que desea borrar este
                                                    registro?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    <span class="fa fa-times"></span> Cancelar
                                                </button>
                                                <!-- Botón que ejecuta la acción de eliminar -->
                                                <button type="button" class="btn btn-danger" (click)="eliminar(element)"
                                                    data-dismiss="modal">
                                                    <span class="fa fa-trash"></span> Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> Action </td>
                    </ng-container>

                    <!-- Header Row -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>

                    <!-- Row Def -->
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Footer Row -->
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
            </div>
        </div>
    </div>
</div>